extends layout

block content
	.container
		.profile-mainpic
			img.profile-mainpic(src='../images/marblepineapple1.jpg', alt='marble', width='100%', height='100%')
		#IntroText2
			h1 #{user.firstname}'s Blog Post
		
		.blogpost
			h2 #{blogpost.title}
			p #{blogpost.body}
			.createdAt
				| Blogpost ID: #{blogpost.id}
				br
				| #{blogpost.createdAt}
		.blogpost-profile
			h3 Author
			h6 #{user.firstname} #{user.lastname}
			h6 @#{user.username}
			h6 #{user.email}
			br
			.blogpost-profile-pic
				img#entryonepic(src= `${user.profilePicture}` style='width:50%;height:50%;border-radius:50%')
		.commentform
			form.col.s12(action='/entry_one/' + blogpost.id, method='POST', autocomplete='off')
				h3 Leave a comment!
				textarea#argument(rows='5', name='argument', placeholder='comment')
				br
				br
				button.btn.btn-default(type="submit", name="submit") SUBMIT
		.comment-heading
			h3 User's Comments
		.comments
			if comments
				each comment in comments

					.single-comment
						.comment-user
							h6 #{comment.user.username}
						.comment-body
							p "#{comment.argument}"
						.createdAt
							| #{comment.createdAt}

	script.
		$(document).ready(function() {
		$("#IntroText2").hide().fadeIn(4000);
		});