extends layout

block content
	.container
		.profile-mainpic
			img.profile-mainpic(src='../images/marblepineapple1.jpg', alt='marble', width='100%', height='100%')
		#IntroText
			h1 #{firstname}'s Profile!
		.profile-info
			h2 Profile
			h3 Name
			h6 #{firstname} #{lastname}
			h3 Username
			h6 @#{username}
			h3 Email
			h6 #{email}
			h3 User ID
			h6 #{id}
		.user-blogposts2
			.prof1pic
				h2 Gorgeous, right?
				br
				img(src= `${profilePicture}` style='width:45%;height:45%;')

	script.
		$(document).ready(function() {
		$("#IntroText").hide().fadeIn(4000);
		});